.transparent-background {
  background-color: transparent !important;
}

.navbar-item-font {
  font-size : 18px;
  letter-spacing : 2.88px;
  color : #41465C !important;
  font-family: upgrade-lights, sans-serif;
}

.navbar-item-font:hover {
  color: #2d3140 !important;
}

.blank-space-logo {
  max-width: 20%;
  height: auto;
}