.transparent-background {
  background-color: transparent !important;
}

.navbar-item-font {
  font-size : 18px;
  letter-spacing : 2.88px;
  color : #41465C !important;
  font-family: upgrade-lights, sans-serif;
}

.navbar-item-font:hover {
  color: #2d3140 !important;
}

.blank-space-logo {
  max-width: 20%;
  height: auto;
}

.navbar-item-font:hover {
  cursor: pointer !important;
	-webkit-animation: text-shadow-drop-center 0.6s both;
          animation: text-shadow-drop-center 0.6s both;
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}