/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import url("https://use.typekit.net/gsl5pvl.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

body {
  font-family: upgrade, sans-serif;
	--background-color: #FFFFFF;
	--background-color-2: #FFFFFF;
  --background-color-3: #FFFFFF;
	// --background-color: #EDFAFC;
	// --background-color-2: #F4FCFD;
	// --background-color-3: #f0fbfc;
	--link-color: #adadad;
	--link-hover-color: #999999;
	font-weight: 500;
	color: #000000;
	color: var(--text-color);
  background-color: #FFFFFF;
  // background-color: #EDFAFC;
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

section {
  min-height: 100vh;
}