<!-- <main class="home-background"> -->
<main>
  <navbar></navbar>

  <div class="morph-wrap">
    <!-- <svg #backgroundSVG class="morph" attr.height.px="{{ svgHeight }}" attr.width="{{ svgWidth }}px"> -->
      <svg #backgroundSVG class="morph" width="1400" height="770" viewBox="0 0 1400 770">
      <path d="M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z"/>
    </svg>
  </div>

  <section id="header-section">
    <div class="container-flex" style="height: 100vh;">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-3">
          <h4 class="blank-space-side-content text-uppercase">Creative Design and Development</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 text-align-center">
          <h1 class="pl-4 blank-space-branding" #blankSpace>BLANK SPACE</h1>
          <h6 class="float-right blank-space-subheader pr-5">CREATIVE</h6>
        </div>
        <div class="col-lg-3 text-align-center">
          <div class="py-2">
            <i class="fas fa-arrow-up inactive-arrow"></i>
          </div>
          <div class="py-2">
            <i class="fas fa-arrow-down active-arrow"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="design-services-section">
    <div class="container-flex" style="height: 100vh;">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-3">
          <h4 class="blank-space-side-content text-uppercase">Creative Design and Development</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 text-align-center">
          <h1 class="pl-4 blank-space-service-header">DESIGN</h1>
        </div>
        <div class="col-lg-3 text-align-center">
          <div class="py-2">
            <i class="fas fa-arrow-up active-arrow"></i>
          </div>
          <div class="py-2">
            <i class="fas fa-arrow-down active-arrow"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="development-services-section">
    <div class="container-flex" style="height: 100vh;">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-3">
          <h4 class="blank-space-side-content text-uppercase">Creative Design and Development</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 text-align-center">
          <h1 class="pl-4 blank-space-service-header">DEVELOPMENT</h1>
        </div>
        <div class="col-lg-3 text-align-center">
          <div class="py-2">
            <i class="fas fa-arrow-up active-arrow"></i>
          </div>
          <div class="py-2">
            <i class="fas fa-arrow-down active-arrow"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="development-services-section">
    <div class="container-flex" style="height: 100vh;">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-3">
          <h4 class="blank-space-side-content text-uppercase">Creative Design and Development</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 text-align-center">
          <h1 class="pl-4 blank-space-service-header">SOCIAL</h1>
        </div>
        <div class="col-lg-3 text-align-center">
          <div class="py-2">
            <i class="fas fa-arrow-up active-arrow"></i>
          </div>
          <div class="py-2">
            <i class="fas fa-arrow-down inactive-arrow"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>