<!-- <main class="home-background"> -->
<main>

  <div class="morph-wrap">
    <svg #backgroundSVG class="morph" width="1400" height="770" viewBox="0 0 1400 770">
      <path d="M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z" />
    </svg>
  </div>

  <section id="header-section">
    <div class="container-flex d-none d-sm-block">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-3">
          <h4 class="blank-space-side-content text-uppercase">Creative Design and Development</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 text-align-center">
          <h1 class="pl-4 blank-space-branding" #blankSpace>BLANK SPACE</h1>
          <h6 class="float-right blank-space-subheader pr-5">CREATIVE</h6>
        </div>
        <div class="col-lg-3 text-align-center d-none d-sm-block">
          <div class="py-2">
            <i class="fas fa-arrow-up inactive-arrow"></i>
          </div>
          <div class="py-2">
            <i class="fas fa-arrow-down active-arrow" (click)="scrollToSection('design-services-section')"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="container-flex py-5" *ngIf="newWidth <= 414">
      <div class="row py-5">
        <div class="col-lg-3">
          <h4 class="blank-space-side-content text-uppercase">Creative Design and Development</h4>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 text-align-center">
          <h1 class="pl-4 blank-space-branding" #blankSpace>BLANK SPACE</h1>
          <h6 class="float-right blank-space-subheader pr-5">CREATIVE</h6>
        </div>
        <div class="col-lg-3 text-align-center d-none d-sm-block">
          <div class="py-2">
            <i class="fas fa-arrow-up inactive-arrow"></i>
          </div>
          <div class="py-2">
            <i class="fas fa-arrow-down active-arrow" (click)="scrollToSection('design-services-section')"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="design-services-section">
    <div class="container-flex">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-3"></div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="content-wrap">
            <div class="content content--layout content--layout-1">
              <img class="content__img" src="../../assets/img/steve-johnson-1365916-unsplash.jpg" alt="Design through Blank Space Creative" />
              <h3 class="content__title">DESIGN</h3>
              <p class="content__author">BLANK SPACE</p>
              <p class="content__desc">Crafting your story through UX, UI, and print.</p>
              <a href="#" class="content__link">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 text-align-center d-none d-sm-block">
          <div class="py-2">
            <i class="fas fa-arrow-up active-arrow" (click)="scrollToSection('header-section')"></i>
          </div>
          <div class="py-2">
            <i class="fas fa-arrow-down active-arrow" (click)="scrollToSection('development-services-section')"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="development-services-section">
    <div class="container-flex">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-3"></div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="content-wrap">
            <div class="content content--layout content--layout-1">
              <img class="content__img" src="../../assets/img/steve-johnson-1365916-unsplash.jpg" alt="Web Development through Blank Space Creative" />
              <h3 class="content__title">DEVELOPMENT</h3>
              <p class="content__author">BLANK SPACE</p>
              <p class="content__desc">Building the technology that matches your vision.</p>
              <a href="#" class="content__link">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 text-align-center d-none d-sm-block">
          <div class="py-2">
            <i class="fas fa-arrow-up active-arrow" (click)="scrollToSection('design-services-section')"></i>
          </div>
          <div class="py-2">
            <i class="fas fa-arrow-down active-arrow" (click)="scrollToSection('social-services-section')"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="social-services-section">
    <div class="container-flex">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-3"></div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="content-wrap">
            <div class="content content--layout content--layout-1">
              <img class="content__img" src="../../assets/img/steve-johnson-1365916-unsplash.jpg" alt="Social Media through Blank Space Creative" />
              <h3 class="content__title">SOCIAL</h3>
              <p class="content__author">BLANK SPACE</p>
              <p class="content__desc">Turn your customers into your marketers.</p>
              <a href="#" class="content__link">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 text-align-center d-none d-sm-block">
          <div class="py-2">
            <i class="fas fa-arrow-up active-arrow" (click)="scrollToSection('development-services-section')"></i>
          </div>
          <div class="py-2">
            <i class="fas fa-arrow-down active-arrow" (click)="scrollToSection('event-services-section')"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="event-services-section">
    <div class="container-flex">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-3"></div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="content-wrap">
            <div class="content content--layout content--layout-1">
              <img class="content__img" src="../../assets/img/steve-johnson-1365916-unsplash.jpg" alt="Events through Blank Space Creative" />
              <h3 class="content__title">EVENTS</h3>
              <p class="content__author">BLANK SPACE</p>
              <p class="content__desc">Letting your ideas inhabit a physical space.</p>
              <a href="#" class="content__link">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 text-align-center d-none d-sm-block">
          <div class="py-2">
            <i class="fas fa-arrow-up active-arrow" (click)="scrollToSection('social-services-section')"></i>
          </div>
          <div class="py-2">
            <i class="fas fa-arrow-down active-arrow" (click)="scrollToSection('contact-form-section')"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact-form-section">
    <div class="container">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-3"></div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h1 class="text-align-center py-2">Want to Work With Us?</h1>
          <form [formGroup]="contactForm" class="py-2" autocomplete="off" *ngIf="!contactFormSubmitted">
            <div class="form-group" *ngIf="formStep == 1">
              <label for="name">What's Your Name?</label>
              <input #name id="name" type="text" class="contact-form-input" placeholder="Full Name" formControlName="name" (keyup.enter)="onInputEnter('name',name.value,2)">
              <div class="submit-arrow cursor-pointer">
                <i class="fas fa-long-arrow-alt-right cursor-pointer" (click)="moveToNextFormStep(2)"></i>
              </div>
              <div class="progress-bar" style="width: 20%"></div>
            </div>
            <div class="form-group" *ngIf="formStep == 2">
              <label for="organization">What's Your Company's Name?</label>
              <input #organization id="organization" type="text" class="contact-form-input" placeholder="Organization Name" formControlName="organization" (keyup.enter)="onInputEnter('organization',organization.value,3)">
              <div class="submit-arrow cursor-pointer">
                <i class="fas fa-long-arrow-alt-right cursor-pointer" (click)="moveToNextFormStep(3)"></i>
              </div>
              <div class="progress-bar" style="width: 40%"></div>
            </div>
            <div class="form-group" *ngIf="formStep == 3">
              <label for="emailAddress">What's Your Email Address?</label>
              <input #emailAddress id="emailAddress" type="email" class="contact-form-input" placeholder="Email Address" formControlName="emailAddress" (keyup.enter)="onInputEnter('emailAddress',emailAddress.value,4)">
              <div class="submit-arrow cursor-pointer">
                <i class="fas fa-long-arrow-alt-right cursor-pointer" (click)="moveToNextFormStep(4)"></i>
              </div>
              <div class="progress-bar" style="width: 60%"></div>
            </div>
            <div class="form-group" *ngIf="formStep == 4">
              <label for="areaOfInterest">What Would You Like Help With?</label>
              <input #areaOfInterest id="areaOfInterest" type="text" class="contact-form-input" placeholder="Area of Interest" formControlName="areaOfInterest" (keyup.enter)="onInputEnter('areaOfInterest',areaOfInterest.value,5)">
              <div class="submit-arrow cursor-pointer">
                <i class="fas fa-long-arrow-alt-right cursor-pointer" (click)="moveToNextFormStep(5)"></i>
              </div>
              <div class="progress-bar" style="width: 80%"></div>
            </div>
            <div class="form-group" *ngIf="formStep == 5">
              <label for="messafe">Anything Else You'd Like to Add?</label>
              <input #message id="message" type="text" class="contact-form-input" placeholder="Tell us about your goals!" formControlName="message" (keyup.enter)="onInputEnter('message',message.value,6)">
              <div class="submit-arrow cursor-pointer">
                <i class="fas fa-long-arrow-alt-right cursor-pointer" (click)="submitContactForm()"></i>
              </div>
              <div class="progress-bar" style="width: 100%"></div>
            </div>
          </form>
          <div class="pt-4 text-align-center" *ngIf="contactFormSubmitted">
            <p>Thank you! We'll be in touch with you shortly!</p>
          </div>
          <div class="form-tracker" *ngIf="!contactFormSubmitted">
            <p *ngIf="formStep == 1">1/5</p>
            <p *ngIf="formStep == 2">2/5</p>
            <p *ngIf="formStep == 3">3/5</p>
            <p *ngIf="formStep == 4">4/5</p>
            <p *ngIf="formStep == 5">5/5</p>
          </div>
        </div>
        <div class="col-lg-3 text-align-center d-none d-sm-block">
          <div class="py-2">
            <i class="fas fa-arrow-up active-arrow" (click)="scrollToSection('event-services-section')"></i>
          </div>
          <div class="py-2">
            <i class="fas fa-arrow-down inactive-arrow"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>